@import "tailwindcss";
/* @import "tailwindcss-animate"; */

@custom-variant dark (&:is(.dark *));

/* @theme je définis le nom de variables. inline est juste un option on peut l'enlever si un jou sa pose souci. */
@theme inline {
  --font-caption: var(--font-caption);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-geist-sans);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-border: var(--card-border);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* --card-border: hsl(220, 3%, 23%); */

/* @layer base {
  :root {
    --background: hsl(220 13% 18%);
    --foreground: hsl(219 14% 71%);
    --muted: hsl(220 12% 22%);
    --muted-foreground: hsl(220 12% 72%);
    --popover: hsl(220 13% 15%);
    --popover-foreground: hsl(219 14% 81%);
    --card: hsl(220 13% 16%);
    --card-foreground: hsl(219 14% 76%);
    --card-border: hsl(220, 3%, 23%);
    --border: hsl(220 3% 23%);
    --input: hsl(220 3% 26%);
    --primary: hsl(220 15% 81%);
    --primary-foreground: hsl(220 15% 21%);
    --secondary: hsl(220 5% 25%);
    --secondary-foreground: hsl(220 5% 85%);
    --accent: hsl(220 13% 33%);
    --accent-foreground: hsl(220 13% 93%);
    --destructive: hsl(3 84% 47%);
    --destructive-foreground: hsl(0 0% 100%);
    --ring: hsl(220 15% 81%);
    --chart-1: hsl(220 15% 81%);
    --chart-2: hsl(220 5% 25%);
    --chart-3: hsl(220 13% 33%);
    --chart-4: hsl(220 5% 28%);
    --chart-5: hsl(220 18% 81%);
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(220 13% 18%);
    --foreground: hsl(219 14% 71%);
    --muted: hsl(220 12% 22%);
    --muted-foreground: hsl(220 12% 72%);
    --popover: hsl(220 13% 15%);
    --popover-foreground: hsl(219 14% 81%);
    --card: hsl(220 13% 16%);
    --card-foreground: hsl(219 14% 76%);
    --card-border: hsl(220, 3%, 23%);
    --border: hsl(220, 3%, 23%);
    --input: hsl(220 3% 26%);
    --primary: hsl(220 15% 81%);
    --primary-foreground: hsl(220 15% 21%);
    --secondary: hsl(220 5% 25%);
    --secondary-foreground: hsl(220 5% 85%);
    --accent: hsl(220 13% 33%);
    --accent-foreground: hsl(220 13% 93%);
    --destructive: hsl(3 84% 47%);
    --destructive-foreground: hsl(0 0% 100%);
    --ring: hsl(220 15% 81%);
    --chart-1: hsl(220 15% 81%);
    --chart-2: hsl(220 5% 25%);
    --chart-3: hsl(220 13% 33%);
    --chart-4: hsl(220 5% 28%);
    --chart-5: hsl(220 18% 81%);
  }
} */

/* mac os */
@layer base {
  :root {
    --background: hsl(0, 0%, 97.69%);
    --foreground: hsl(334, 55%, 1%);
    --muted: hsl(0, 0%, 93.85%);
    --muted-foreground: hsl(210, 17%, 27%);
    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(0, 0%, 10.2%);
    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(0, 0%, 13.73%);
    --card-border: hsl(0, 0%, 80%, 78%);
    --border: hsl(0, 0%, 80.78%);
    --input: hsl(0, 0%, 80.78%);
    --primary: hsl(211.29, 100%, 50%);
    --primary-foreground: hsl(0, 0%, 100%);
    --secondary: hsl(0, 0%, 85.49%);
    --secondary-foreground: hsl(334, 0%, 10%);
    --accent: hsl(211.29, 100%, 50%);
    --accent-foreground: hsl(334, 0%, 100%);
    --destructive: hsl(3.19, 100%, 59.41%);
    --destructive-foreground: hsl(18, 0%, 100%);
    --ring: hsl(0, 0%, 60%);
    --chart-1: hsl(211.29, 100%, 50%);
    --chart-2: hsl(0, 0%, 85.49%);
    --chart-3: hsl(211.29, 100%, 50%);
    --chart-4: hsl(0, 0%, 88.49%);
    --chart-5: hsl(211.29, 103%, 50%);
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(217.5, 9.09%, 17.25%);
    --foreground: hsl(334, 34%, 98%);
    --muted: hsl(210, 9.09%, 12.94%);
    --muted-foreground: hsl(0, 0%, 80%);
    --popover: hsl(210, 9.09%, 12.94%);
    --popover-foreground: hsl(334, 34%, 98%);
    --card: hsl(210, 9.09%, 12.94%);
    --card-foreground: hsl(334, 34%, 98%);
    --card-border: hsl(334, 0%, 18.46%);
    --border: hsl(334, 0%, 18.46%);
    --input: hsl(214.29, 5.04%, 27.25%);
    --primary: hsl(226.73, 58.43%, 65.1%);
    --primary-foreground: hsl(0, 0%, 100%);
    --secondary: hsl(214.29, 5.04%, 27.25%);
    --secondary-foreground: hsl(334, 0%, 100%);
    --accent: hsl(217.5, 9.09%, 17.25%);
    --accent-foreground: hsl(226.73, 58.43%, 65.1%);
    --destructive: hsl(358.16, 68.78%, 53.53%);
    --destructive-foreground: hsl(0, 0%, 100%);
    --ring: hsl(217.5, 9.09%, 17.25%);
    --chart-1: hsl(226.73, 58.43%, 65.1%);
    --chart-2: hsl(214.29, 5.04%, 27.25%);
    --chart-3: hsl(217.5, 9.09%, 17.25%);
    --chart-4: hsl(214.29, 5.04%, 30.25%);
    --chart-5: hsl(226.73, 61.43%, 65.1%);
  }
}

/* theme vvcode dark stylé */
/* @layer base {
  :root {
    --background: hsl(218, 14%, 16%);
    --foreground: hsl(219, 14%, 71%);
    --muted: hsl(218, 12%, 20%);
    --muted-foreground: hsl(218, 12%, 70%);
    --popover: hsl(218, 14%, 13%);
    --popover-foreground: hsl(219, 14%, 81%);
    --card: hsl(218, 14%, 14%);
    --card-foreground: hsl(219, 14%, 76%);
    --card-border: hsl(218, 4%, 21%);
    --border: hsl(218, 4%, 21%);
    --input: hsl(218, 4%, 24%);
    --primary: hsl(220, 13%, 86%);
    --primary-foreground: hsl(220, 13%, 26%);
    --secondary: hsl(220, 3%, 25%);
    --secondary-foreground: hsl(220, 3%, 85%);
    --accent: hsl(218, 14%, 31%);
    --accent-foreground: hsl(218, 14%, 91%);
    --destructive: hsl(10, 85%, 46%);
    --destructive-foreground: hsl(0, 0%, 100%);
    --ring: hsl(220, 13%, 86%);
    --chart-1: hsl(220, 13%, 86%);
    --chart-2: hsl(220, 3%, 25%);
    --chart-3: hsl(218, 14%, 31%);
    --chart-4: hsl(220, 3%, 28%);
    --chart-5: hsl(220, 16%, 86%);
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(218, 14%, 16%);
    --foreground: hsl(219, 14%, 71%);
    --muted: hsl(218, 12%, 20%);
    --muted-foreground: hsl(218, 12%, 70%);
    --popover: hsl(218, 14%, 13%);
    --popover-foreground: hsl(219, 14%, 81%);
    --card: hsl(218, 14%, 14%);
    --card-foreground: hsl(219, 14%, 76%);
    --card-border: hsl(218, 4%, 21%);
    --border: hsl(218, 4%, 21%);
    --input: hsl(218, 4%, 24%);
    --primary: hsl(220, 13%, 86%);
    --primary-foreground: hsl(220, 13%, 26%);
    --secondary: hsl(220, 3%, 25%);
    --secondary-foreground: hsl(220, 3%, 85%);
    --accent: hsl(218, 14%, 31%);
    --accent-foreground: hsl(218, 14%, 91%);
    --destructive: hsl(10, 85%, 46%);
    --destructive-foreground: hsl(0, 0%, 100%);
    --ring: hsl(220, 13%, 86%);
    --chart-1: hsl(220, 13%, 86%);
    --chart-2: hsl(220, 3%, 25%);
    --chart-3: hsl(218, 14%, 31%);
    --chart-4: hsl(220, 3%, 28%);
    --chart-5: hsl(220, 16%, 86%);
  }
} */
